<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li><p>Institut supérieur de philosophie<br>
                  Université catholique de Louvain<br>
                  Place Cardinal Mercier 14, bte L3.06.01<br>
                  1348 Louvain-la-Neuve, Belgium</p> </li>

            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col one-half">
        <!–– {{- site.description | escape -}}––>
        <ul class="contact-list">
            <li><a href="https://orcid.org/0000-0002-5742-7190">My ORCID profile: 0000-0002-5742-7190</a></li>
            <li><a href='https://www.researchgate.net/profile/Aleksandra_Samonek'>My profile on ResearchGate</a></li>
            <li><a href='https://philpeople.org/profiles/aleksandra-samonek'>My profile on PhilPeople</a></li>
            <li><a href='https://scholar.google.be/citations?user=SVj1JLIAAAAJ&hl=pl'>My profile on GoogleScholar</a></li>
            <li><a href='https://uclouvain.be/fr/repertoires/aleksandra.samonek'>My profile in the UCLouvain Repository</a></li>
        </ul>
      </div>

      <div class="social-links">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
